.container {
  display: flex;
  justify-content: space-between;
  /* 添加一个空占位项目，使最后一行左对齐分布 */
}
.container .left {
  box-sizing: border-box;
  width: 15vw;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid rgba(214, 213, 213, 0.5);
  background-color: #ffffff;
}
.container .right {
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  padding: 64px 64px 40px;
}
.container .workContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
  flex-basis: 20%;
}
.container .workContainer:after {
  content: "";
  flex-basis: calc(25% - 20px);
  /* 设置空占位项目的宽度，与卡片一致 */
  margin-bottom: -20px;
  /* 抵消额外的间距 */
}
