.container {
  border-top: 0.5 solid white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .tabItem {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  color: #252423;
  border-radius: 8px;
  -webkit-box-shadow: -2px 0px 8px 0px rgba(73, 87, 111, 0.37);
  -moz-box-shadow: -2px 0px 8px 0px rgba(73, 87, 111, 0.37);
  box-shadow: -2px 0px 8px 0px rgba(73, 87, 111, 0.37);
}
.container .tabItem:first-child {
  margin-left: 0px;
}
.container .tabItem:hover {
  color: #ffffff;
}
