.container {
  height: 100vh;
  padding: 24px 40px;
}
.container .test {
  background-color: red;
}
.container .tabItem {
  display: flex;
  align-items: center;
  color: #252423;
  border: 1px solid red;
}
.container .tabItem:hover {
  color: #ffffff;
}
