.container {
    display: flex;
    justify-content: space-between;
    .left {
        box-sizing: border-box;
        width: 15vw;
        height: 100vh;
        padding: 10px;
        border-right: 1px solid rgba(214, 213, 213, 0.5);
        background-color: rgb(255, 255, 255);
    }
    .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        padding: 64px 64px 40px;
    }

    .workContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        gap: 10px;
        flex-basis: 20%;
    }
}