.container {
  display: block;
  margin-top: 54px;
  padding: 0 10vw;
}
.container .topImg {
  position: relative;
}
.container .topImg .topBg img {
  border-radius: 24px;
  width: 100%;
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px 4px hsla(0, 0%, 6%, 0.1);
  aspect-ratio: width / height;
  object-position: center 9.89%;
  object-fit: cover;
}
.container .topImg .topAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}
.container .topImg .topAvatar img {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.21);
  border: 1px solid red;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.container .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .desc {
  font-size: 16px;
  line-height: 1.5;
  color: var(--fg-color);
  caret-color: var(--fg-color);
  font-family: var(--notion-font);
}
.container .desc p {
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 1px 0;
  padding: 0.5em 2px;
}
.container .desc .name {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.125rem;
  background-image: linear-gradient(119deg, white, #d4eabc 10.5%, #d2eabc 85.29%, white);
}
.container .desc .juejin {
  padding: 0 0.5rem;
  margin: 0 -0.5rem 0 -0.25rem;
  background-image: linear-gradient(119deg, var(--bg-color), #adedfc 10.5%, #adebfd 85.29%, var(--bg-color));
  color: inherit;
  word-break: break-word;
  text-decoration: inherit;
  border-bottom: 0.05em solid;
  border-color: var(--fg-color-2);
}
