.container {
  flex-basis: calc(25% - 20px);
  /* 假设一行显示4个卡片，并考虑间距 */
  height: 240px;
}
.container .top img {
  border-radius: 8px;
  width: 100%;
  height: 187px;
  object-fit: cover;
}
.container .bottom {
  display: flex;
}
.container .bottom .img {
  display: flex;
  align-items: center;
}
.container .bottom .img img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.container .bottom .desc {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-basis: calc(25% - 20px);
    /* 在较小屏幕上显示4个卡片，并考虑间距 */
  }
}
@media screen and (max-width: 900px) {
  .container {
    flex-basis: calc(33.33% - 20px);
    /* 在更小屏幕上显示3个卡片，并考虑间距 */
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-basis: calc(50% - 20px);
    /* 在较小屏幕上显示2个卡片，并考虑间距 */
  }
}
@media screen and (max-width: 400px) {
  .container {
    flex-basis: 100%;
    /* 在更小屏幕上只显示1个卡片，占据整行宽度 */
  }
}
